<!doctype html>
<html lang="ru">
<title>Создайте новую задачу</title>

<form method="POST" action="/newtask">
    {{ form.csrf_token }}
    {{ form.title.label }} &emsp;&emsp;&ensp;&nbsp; {{ form.title(size=20) }}
    {% if form.title.errors %}
        <ul class="errors">
        {% for error in form.title %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </br>
    {{ form.body.label }} &nbsp;{{ form.body(size=20) }}
    </br>
    <input type="submit" value="Создать задачу">
</form>