<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список задач</title>
</head>
<body>
    <h1>Список задач</h1>
    <table style="border-collapse: collapse;">
        <tbody>
            <tr style="border-bottom: 1pt solid black;">
                <td>ID</td>
                <td>Имя</td>
                <td>
                    Закрыта
                    <a href="/tasklist?sort=cmplup">&uarr;</a>
                    <a href="tasklist?sort=cmpldwn">&darr;</a>
                </td>
            </tr>

        {% for task in tasklist %}
            <tr>
                <td>{{ task.id }}</td>
                <td><a href="/task/{{ task.id }}"> {{ task.title }}</a></td>
                <td> {{ task.completion }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <a href="/">На главную</a> | <a href=/newtask>Новая задача</a>
</body>
</html>